# Configuration for DIY MMU2S based on SKR-MINI E3 V2
#
# config inspired from https://github.com/mwr666/klipper/blob/sunbeam2.0c_multi_mcu_mmu2/config/printer-protodev-corexy-multi-mcu-mmu2.cfg and Jeremy Briffaut kakou@kakou.org

########################################
#
# Configuration for a SKR MINI E3 V2 board with TMC2209 UART
#
########################################
[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_37FFD3055358353225541643-if00
restart_method: command

[static_digital_output usb_pullup_enable]
pins: !mmu:PA14

[respond]
default_type: command

#########################################										
# E0 : MMU2S 5mm rod with the 5 gears
[tmc2209 manual_stepper gear_stepper]
uart_pin: mmu:PC11
tx_pin: mmu:PC10
uart_address: 3
run_current: 0.800
hold_current: 0.200
interpolate: true
sense_resistor: 0.110
stealthchop_threshold: 999999
driver_SGTHRS: 75

[manual_stepper gear_stepper]
step_pin: mmu:PB3
dir_pin: !mmu:PB4
enable_pin: !mmu:PD2
microsteps: 16
# 140 : mk8 gear
#rotation_distance: 22.857
# 165 : fystec gear for mmu2s
rotation_distance: 19.394
velocity: 15
accel: 4000 # Same as Printer Acceleration
endstop_pin: mmu:PA1 #PC2 # PINDA X+

#########################################										
# Y : MMU2S idler with the 5 ball bearings
[tmc2209 manual_stepper idler_stepper]
uart_pin: mmu:PC11
tx_pin: mmu:PC10
diag_pin: ^mmu:PC1
uart_address: 2
run_current: 0.400 #800
hold_current: 0.200 #800
interpolate: true
sense_resistor: 0.110
stealthchop_threshold: 999999
driver_SGTHRS: 70                                  #0-255 sensorless homing sensitivity 0= less senstive 255= more sensitive


[manual_stepper idler_stepper]
step_pin: mmu:PB10
dir_pin: !mmu:PB2
enable_pin: !mmu:PB11
microsteps: 16
rotation_distance: 128
velocity: 100
accel: 80
endstop_pin: tmc2209_idler_stepper:virtual_endstop
homing_retract_dist: 0					  

#########################################										 
# X : MMU2S color selector
[tmc2209 manual_stepper selector_stepper]
uart_pin: mmu:PC11
tx_pin: mmu:PC10
diag_pin: ^mmu:PC0
uart_address: 0
run_current: 0.400 #1000
hold_current: 0.200 #400
interpolate: true
sense_resistor: 0.110
stealthchop_threshold: 999999
driver_SGTHRS: 70                                  #0-255 sensorless homing sensitivity 0= less senstive 255= more sensitive


[manual_stepper selector_stepper]
step_pin: mmu:PB13
dir_pin: !mmu:PB12
enable_pin: !mmu:PB14
# 80 step/mm
microsteps: 16
rotation_distance: 8
velocity: 35
accel: 100
endstop_pin: tmc2209_selector_stepper:virtual_endstop
#endstop_pin: !mmu:PC0 # switch endstop on the left Z-
homing_retract_dist: 0

#IR Sensor Stock
[filament_switch_sensor ir_sensor]
pause_on_runout: false
switch_pin: !PK0 # Filamentsensor on Einsy
event_delay:0.2
runout_gcode:
	{% if printer["gcode_macro VAR_MMU2S"].enable_led|int == 1 %}
	SET_LED LED=my_neopixel RED=0.5 GREEN=0.0 BLUE=0.0 INDEX=6 TRANSMIT=1
    {% endif %}
    M117 Filament not in extruder
    M118 Filament not in extruder
insert_gcode:
	{% if printer["gcode_macro VAR_MMU2S"].enable_led|int == 1 %}
    SET_LED LED=my_neopixel RED=0.0 GREEN=0.5 BLUE=0.0 INDEX=6 TRANSMIT=1
    {% endif %}
    M117 Filament in extruder
    M118 Filament in extruder
	
