[neopixel neopixel]
pin: PA8
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 16
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5

[gcode_macro variable]
variable_nled: 16
variable_cycle: 5
gcode:

[gcode_macro KITT]
gcode:
    {% for ciclo in range(printer["gcode_macro variable"].cycle) %}
        {% for sx in range(printer["gcode_macro variable"].nled) %}
          {% if sx > 0 %}
             SET_LED LED=neopixel RED=0 GREEN=0 BLUE=0
             {% if sx > 1 %}
                SET_LED LED=neopixel RED=0.1 GREEN=0 BLUE=0 INDEX={sx-1}
             {% endif %}
             SET_LED LED=neopixel RED=0.3 GREEN=0 BLUE=0 INDEX={sx}
             SET_LED LED=neopixel RED=1 GREEN=0 BLUE=0 INDEX={sx+1}
            G4 P100
          {% endif %}
        {% endfor %}
        {% for dx in range(printer["gcode_macro variable"].nled) %}
          SET_LED LED=neopixel RED=0 GREEN=0 BLUE=0
          {% set n1 = printer["gcode_macro variable"].nled|int+1 %}
          {% set n2 = printer["gcode_macro variable"].nled|int+2 %}
          {% if dx > 2 %}
             SET_LED LED=neopixel RED=0.1 GREEN=0 BLUE=0 INDEX={printer["gcode_macro variable"].nled+3-dx}
             SET_LED LED=neopixel RED=0.3 GREEN=0 BLUE=0 INDEX={n2-dx}
             SET_LED LED=neopixel RED=1 GREEN=0 BLUE=0 INDEX={n1-dx}
             G4 P100
          {% endif %}
        {% endfor %}
    {% endfor %}
    SET_LED LED=neopixel RED=0 GREEN=0 BLUE=0

[gcode_macro SIREN]
gcode:
    {% for flashes in range(params.COUNT|int) %}
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=0 GREEN=0 BLUE=1 INDEX=3
	G4 P250                       ; sleep 250ms
        SET_LED LED=fysetc_mini12864 RED=0 GREEN=0 BLUE=1 INDEX=2 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3
	G4 P250                       ; sleep 250ms
    {% endfor %}
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=3
