#####################################################################
#   Orbiter 1.5 Extruder
#####################################################################
[extruder]
#Motor 4
rotation_distance: 4.6370 # 4.3624896  #Redline IR-PETG
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 50.0
max_extrude_only_distance: 500.0    # Allows to load filament and purge up to 500mm
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1250.0
heater_pin: e_heater_pin
control: pid
sensor_type: ATC Semitec 104GT-2
min_temp: 0
max_temp: 305
min_extrude_temp: 170
