[gcode_macro START_PRINT_MMU]
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 225
default_parameter_LOAD: -1
default_parameter_PA: 0.0520
gcode:
    # metric values
    G21
    # use absolute coordinates
    G90
    # set extruder to relative mode
    M83
    # start with the fan off
    M107
    # home the printer
 #   {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
 #   {% endif %}
    # start bed heating
    M140 S{BED_TEMP}
    # move FINDA away from bed
    G0 Z100 F1000
    # set extruder temp to 170°C to avoid filament dripping
    {% if printer.extruder.temperature|int > 170 %}
        M117 Nozzle temp +170
    {% else %}
        M117 Preheating to 170
        M104 S170
    {% endif %}
    # set bed temp
    M140 S{BED_TEMP}
    # wait for bed temp
    M190 S{BED_TEMP}
    # Home + Z_Tilt
	{% if printer["gcode_macro _ztilt"].ztilting|int == 1 %}
		{% if printer.z_tilt.applied is false %}
		Z_TILT_ADJUST
		{% endif %}
	{% endif %}
    {% if printer.bed_mesh.profile_name == "" or  printer["gcode_macro _always_mesh"].alwaysmesh|int == 1%}
    G80
    {% endif %}
    # clear pause
    CLEAR_PAUSE
    # zero the extruded length
    G92 E0.0
    # Move the nozzle near the bed
    G1 X0 Y0 Z15 F3000
    # set and wait for nozzle/bed to reach temperature
    M104 S{EXTRUDER_TEMP}       ; set extruder temp
    M140 S{BED_TEMP}            ; set bed temp
    M190 S{BED_TEMP}            ; wait for bed temp
    M109 S{EXTRUDER_TEMP}       ; wait for extruder temp
    # Load filament into MMU
    {% if printer["gcode_macro VARS_PRINTER"].enable_mmu|int == 1 %}
    HOME_MMU
    M109 S{EXTRUDER_TEMP}
    #GO_TO_PARKING
    # zero the extruded length
    G92 E0.0
    {% if LOAD|int != -1 %}
        CHANGE_TOOL VALUE=LOAD
        M400
        G92 E0
    {% endif %}
    {% endif %}
    # zero the extruded length
    G92 E0
    # purge line
    M117 Purge line
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=3
    PURGE_LINE
    # start printing
    G1 F9000
    SET_PRESSURE_ADVANCE ADVANCE={PA} ADVANCE_LOOKAHEAD_TIME=0.010
    M300


[gcode_macro END_PRINT_MMU]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
	{% if printer["gcode_macro VARS_PRINTER"].enable_mmu|int ==1 %}
	M702
	{% endif %}
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y} F3600          ; park nozzle at rear
	DISABLE_XY_STEPPERS
	{% if printer["gcode_macro VAR_MMU2S"].enable_led|int == 1 %}
	LEDOFF
	{% endif %}
	M300