# Configuration for DIY MMU2S
#
# config heavily copied and edited from 
# without kakou_fr's configs and work on klipper github this would have required a lot more work and debugging -- so thx 
# If you need help with Implementing the MMU into Klipper reach out @St0fzuiger in Telegram Group https://t.me/Druckerplausch
# Many thanks to bad1dea (Khuong) for helping and rewriting large parts 
###############################################################

[mmu2s]

[include mmu2s_variables.cfg]
[include mmu2s_home.cfg]
[include mmu2s_load.cfg]
[include mmu2s_status.cfg]
[include mmu2s_start.cfg]
[include mmu2s_tests.cfg]
[include mmu2s_menu.cfg]
#[include Addon/wled.cfg] # When no LED's are used disable this
#[include Addon/neopixel.cfg] # When no LED's are used disable this

###############################################################
# GCodes needed by slicer                                     #
###############################################################

[gcode_macro ACTIVATE_EXTRUDER]
rename_existing: OACTIVATE_EXTRUDER
description: Only used by slicer.
gcode:
    {% set EXTRUDER = params.EXTRUDER|default("extruder") %}
    M117 Set extruder : {EXTRUDER}
    {% if EXTRUDER == "extruder" %}
        MMU_CHANGE_TOOL VALUE=0
    {% elif EXTRUDER == "extruder1" %}
        MMU_CHANGE_TOOL VALUE=1
    {% elif EXTRUDER == "extruder2" %}
        MMU_CHANGE_TOOL VALUE=2
    {% elif EXTRUDER == "extruder3" %}
        MMU_CHANGE_TOOL VALUE=3
    {% elif EXTRUDER == "extruder4" %}
        MMU_CHANGE_TOOL VALUE=4
    {% endif %}