#####################################################################
#   X/Y Stepper Settings TMC2209
#####################################################################
[tmc2209 stepper_x]
uart_pin: x_uart_pin
diag_pin: x_diag_pin
tx_pins: x_tx_pin
select_pin= x_select_pin

[tmc2209 stepper_y]
uart_pin: y_uart_pin
diag_pin: y_diag_pin
tx_pins: y_tx_pin
select_pin= y_select_pin

[tmc2209 stepper_z]
uart_pin: z0_uart_pin
diag_pin: z0_diag_pin
tx_pins: z0_tx_pin
select_pin= z0_select_pin

[tmc2209 stepper_z1]
uart_pin: z1_uart_pin
diag_pin: z1_diag_pin
tx_pins: z1_tx_pin
select_pin= z1_select_pin

#####################################################################
#   Extruder
#####################################################################
[tmc2209 extruder]
uart_pin: e_uart_pin
tx_pins: e_tx_pin
select_pin= e_select_pin