# Please inspect the shell scrip by your own and use it by your own risk
# Functions:
#  - Remove _old files if exists
#  - rename the current files to _old
#  - copy current cvs files from /tmp to the specified folder
#  - run the calibrate_shaper.py to generate the graphs and store them at the same location
#####################################################################
[gcode_macro RESONANCES_TEST]
description: Run input shaper test
gcode:
  ## TEST_RESONANCES will set the accel and accel_to decel
  _CG28                                                  ; home if needed
  TURN_OFF_HEATERS                                       ; turn off heaters
  M107                                                   ; turn off fan
  M117 Check if sensor is installed"
  MEASURE_AXES_NOISE                                     ; get noise value in log
  M117 Resonance Tests starting ..."
  TEST_RESONANCES AXIS=X                                 ; measure X 
  TEST_RESONANCES AXIS=Y                                 ; measure Y
  M117 Resonance Tests done"
  M117 Generate graph in backround"
  RUN_SHELL_COMMAND CMD=plot_graph

## Shell Comand is not supported by a default klipper installation 
[gcode_shell_command plot_graph]
command: sh /home/pi/klipper_config/script/plot_graph.sh
timeout: 30.
verbose: True

[menu __main __setup __resonancetest]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Test Resonances 
gcode: RESONANCES_TEST