# This file contains confgurations for the Prusa Einsy board
#####################################################################
#   Included CFG's
#####################################################################
[include cfg/flexplate.cfg] # A Flexplate manager
#[include cfg/resonance_tester.cfg] # Specific config parts for the ADXL345
#[include cfg/orbiter_extruder.cfg] # Extruder config for Orbiter Estruder
[include cfg/stock_extruder.cfg] # Extruder config for stock Extruder
[include cfg/macros.cfg] # All regulare Macros reside here
#[include cfg/pi_mcu.cfg] # MCU on Pi for ADXL
[include cfg/screw_adjust.cfg] # Calculation of Levelscrews
[include cfg/einsy_stepper.cfg] #XYZ Stepper configuration Einsy_board
[include cfg/probe_mesh.cfg] # Mesh & Probe
[include cfg/display_default.cfg] # Prusa stock display
#[include cfg/tasmotaswitch.cfg] #Autopower off when Idle with Tasmota Switch
#####################################################################
#   MCU Settings
#####################################################################
[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Prusa_Research__prusa3d.com__Original_Prusa_i3_MK3-if00
#serial: /dev/ttyACM0
##--------------------------------------------------------------------

#####################################################################
#   Board Temp sensors
#####################################################################
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: -10
max_temp: 70

[temperature_sensor Einsy_board]
sensor_pin: PF6
sensor_type: TDK NTCG104LH104JT1
min_temp: -10
max_temp: 70

#####################################################################
#   Printer Type
#####################################################################
[printer]
kinematics: cartesian
max_velocity: 300
#Normal Accel
max_accel: 5000
#For Resonance Test
#max_accel: 10000
#max_accel_to_decel: 10000
max_z_velocity: 10
max_z_accel: 200

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: PG5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF2
control: pid
pid_Kp: 126.13
pid_Ki: 4.3
pid_Kd: 924.76
min_temp: 0
max_temp: 125

#####################################################################
#   Fan Control
#####################################################################
[heater_fan hotend_fan]
pin: PH5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0         ##  If you are experiencing back flow, you can reduce fan_speed
tachometer_pin: PE6
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

# Part Cooling Fan
[fan]
pin: PH3
max_power: 1.0
tachometer_pin: PE7
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 1200

[homing_override]
axes: xyz
set_position_x:0
set_position_y:0
set_position_z:0
gcode:  
  G1 Z10 F1000 ; move up to prevent accidentally scratching build plate
  G1 X4 Y4 F1000 ; works best if not already against endstop
  
  #lower stepper current to avoid ramming into the endstop with high torque
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.15 HOLDCURRENT=0.15
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.15 HOLDCURRENT=0.15

  #Reinitialize the stepper drivers, homing fails without this step (Some bug on mine or something)
  #INIT_TMC STEPPER=stepper_x
  #INIT_TMC STEPPER=stepper_y
  
  #Home all three axes
  G28 X0 ; home x-axis
  M400 ; wait to finish move
  G28 Y0 ; home y-axis
  M400 ; wait to finish move
  G1 X3 Y0 ; move x-axis and y-axis slightly
  M400 ; wait to finish move

  G28 Z0 ; home z-axis
  G1 Z1 F700 ;
  
  #Restore stepper current to normal running levels
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.281738 HOLDCURRENT=0.281738
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.3480291 HOLDCURRENT=0.3480291

#####################################################################
#   ARC Support
#####################################################################
[gcode_arcs]
resolution: 1.0

#####################################################################
#   Variables testing playground
#####################################################################
[save_variables]
filename: ~/variables-blue.cfg
#   Required - provide a filename that would be used to save the
#   variables to disk e.g. ~/variables.cfg

    
[display_status]

#[menu __filament __feed]
#type: input
#name: Feed Filament: {0:.1f}
#parameter: 0
#input_step: 1
#gcode:
#   M83
#   G1 E{0:.1f} F400

#####################################################################
#   z_offsets various printers
#####################################################################
# z_offset Blue:
# z_offset Red:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 13.744
#*# pid_ki = 0.506
#*# pid_kd = 93.288
#*#
#*# [probe]
#*# z_offset = 1.530
#*#
#*# [bed_mesh From_G80]
#*# version = 1
#*# points =
#*# 	  -0.000000, -0.005500, -0.020500
#*# 	  0.004500, 0.000000, -0.013000
#*# 	  0.009500, 0.004500, -0.007500
#*# tension = 0.2
#*# min_x = 35.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 6.0
#*# x_count = 3
#*# max_y = 198.0
#*# mesh_x_pps = 2
#*# max_x = 240.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.010000, -0.001000, 0.006000
#*# 	  0.005500, 0.000000, 0.001000
#*# 	  0.015000, 0.004000, 0.008500
#*# tension = 0.2
#*# min_x = 35.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 6.0
#*# x_count = 3
#*# max_y = 198.0
#*# mesh_x_pps = 2
#*# max_x = 240.0
